# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet. Special
thanks to: https://github.com/justmarkham for sharing the dataset and
materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users and use the ‘user_id’ as index

In [4]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', index_col='user_id')

### Step 4. See the first 25 entries

In [5]:
users.head(25)

### Step 5. See the last 10 entries

In [6]:
users.tail(10)

### Step 6. What is the number of observations in the dataset?

In [7]:
users.shape[0]

943

### Step 7. What is the number of columns in the dataset?

In [8]:
users.shape[1]

4

### Step 8. Print the name of all the columns.

In [9]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [16]:
# "the index" (aka "the labels")    
# 【索引，又被称为标签】
users.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [17]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [18]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [20]:
users.occupation.nunique()
#or by using value_counts() which returns the count of unique elements
#users.occupation.value_counts().count()

21

### Step 13. What is the most frequent occupation?

In [21]:
#Because "most" is asked
users.occupation.value_counts().head(1).index[0]

#or
#to have the top 5

# users.occupation.value_counts().head()

'student'

### Step 14. Summarize the DataFrame.

In [22]:
users.describe() #Notice: by default, only the numeric columns are returned.

### Step 15. Summarize all the columns

In [15]:
users.describe(include = "all") #Notice: By default, only the numeric columns are returned.

### Step 16. Summarize only the occupation column

In [23]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [24]:
round(users.age.mean())

34

### Step 18. What is the age with least occurrence?

In [25]:
users.age.value_counts().tail() #7, 10, 11, 66 and 73 years -> only 1 occurrence

age
7     1
66    1
11    1
10    1
73    1
Name: count, dtype: int64